<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Русская и татарская музыкальная фольклорная традиция в современной Москве: актуализация и репрезентация</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{{url_for('static', filename='zerogrid.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	
	<link rel="stylesheet" href="{{url_for('static', filename='font-awesome.min.css')}}">
	
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
   <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">

   <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">

	<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='script.js')}}"></script>
	
</head>

<body class="home-page">
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<div class="row">
					<div class="col-1-3">
						<a class="site-branding" href="{{url_for('hi_page')}}">
							<h1 id="site-header">Русская и татарская музыкальная фольклорная традиция в современной Москве: актуализация и репрезентация</h1>	
						</a><!-- .site-branding -->
					</div>
					<div class="col-2-3">
						<!-- Menu-main -->
						<div id='cssmenu' class="align-right">
							<ul>
							   <li class="active"><a href="{{url_for('hi_page')}}"><span>Главная</span></a></li>
							   <li><a href="{{url_for('about')}}"><span>О работе</span></a></li>
							   <li class='last'><a href='#footer'><span>Контакты</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container" class="zerogrid">
			<div class="wrap-container">
				
				<article class="single-post">
					<div class="row wrap-post"><!--Start Box-->
						<div class="entry-header">
							<h1 class="entry-title">ОБЩАЯ ИНФОРМАЦИЯ</h1>
						</div>
						<div class="entry-content">
							<p>На территории Москвы и Подмосковья проводится множество популярных и посещаемых широкими слоями населения культурных мероприятий, связанных с актуализацией и репрезентацией русского и татарского музыкального фольклора.</p>
							<p><b>Русский музыкальный фольклор</b> представлен в первую очередь масштабными общегородскими событиями, такими, как Фестиваль «Московская Масленица». Также заслуживает упоминания фольклорный фестиваль «Вербное воскресенье» (организаторы - Московское отделение общероссийской общественной организации «Российский фольклорный союз», студия музыкального творчества Центра художественного образования «Воробьевы горы»).</p>
							<p>Что касается <b>татарского музыкального фольклора</b>, то главным мероприятием столицы, использующим наследие татарской народной музыки на своих площадках, является фестиваль «Московский Сабантуй». Однако велика роль татарских праздников и в Подмосковье.</p>
							<blockquote><p>«Пушкинский район всегда считался в Подмосковье одним из лучших примеров по выстраиванию межконфессиональных, межрелигиозных, межнациональных отношений».</p></blockquote>
                            <p><strong><a href="https://pushkino.tv/news/drugie-novosti-goroda-i-rayona/126141/">- Интернет-издание «Пушкино сегодня»</a></strong></p>
                            <div></div>
                            <p>Межнациональные отношения в Пушкинском районе помогают выстраивать региональная общественная организация «Татарский национальный центр Московской области», автономная некоммерческая организация «Татарский культурно-просветительский центр» и Пушкинский Интернациональный Дом Дружбы. Данные общественные организации и деятели принимают активное участие в проведении ряда тематических массовых мероприятий, среди которых выделяются следующие:</p>
							<ol>
								<li><u>«Кышкы уеннар - Зимние забавы»</u>. «Зимние забавы» описываются в СМИ как «фестиваль дружбы всех народов Подмосковья». Мероприятие начали проводить в конце января-начале февраля с 2019 г., через год после открытия Татарского культурно-просветительского центра. «Кышкы уеннар» - единственное из рассматриваемых нами событий, которое, несмотря на пандемию, все 4 года своего существования проводилось исключительно в очном формате.</li>
								<li><u>«Сабантуй в Пушкино»</u></li>
							</ol></div>
						<div class="entry-content">
						<p><br></p>
						<p>Стоит отметить, что в период с 2018 по 2022 гг., который мы берем для примера в данной работе, мероприятия в силу пандемии коронавируса не всегда проводились регулярно и в очном формате. В связи с этим для большей наглядности мы составили таблицу, где указано, что, когда и каким образом проводилось за обозреваемый нами период времени.</p>
						</div>
						<div class="post-thumbnail-wrap">
							<center><img src="{{url_for('static', filename='single.jpg')}}"></center>
						</div>
						
						<div class="entry-content">
						    <h2>Об истоках классификации содержательных аспектов актуализации татарского музыкального фольклора</h2>
							<p>Выдающийся татарский и кряшенский фольклорист и этномузыковед Геннадий Михайлович Макаров разделяет традиционное татарское искусство на «старотрадиционное» и «новотрадиционное», где «старотрадиционное» - это «деревенские напевы» авыл көе, а также почти забытые ныне народные инструменты думбыра, кубыз, саз, то есть всё то, что мы однозначно относим к аутентичности по нашей классификации содержательных аспектов. «Новотрадиционное» искусство по классификации Макарова в нашем случае частично может быть отнесено к аутентичности (исполнение народных наигрышей на баяне), частично к синтезу жанров (современная татарская эстрада).</p>
						    <h2>Наиля-апа Фатехова о своём официальном статусе в республике Татарстан</h2>
						    <p>Большинство источников в Интернете, перечисляя звания и титулы выдающейся татарской артистки Наили Фатеховой, называют её заслуженной артисткой РФ и республики Татарстан. Однако сама Наиля-апа заявляет о том, что является заслуженной артисткой РФ и <i>народной</i> артисткой Татарстана. Досадное недоразумение всё время приходится поправлять на афишах её выступлений. Даже татароязычная Википедия упорствует в этом заблуждении, раз за разом отклоняя аргументированную правку автора данного сайта в статье о Наиле Фатеховой. За ценные сведения по этому вопросу и скриншот переписки с Наилёй Асгатьевной в мессенджере WhatsApp благодарим Дину Василовну Абдуллину, студентку 4 курса биологического факультета МГУ и участницу ансамбля татарской духовной песни "Медина" под руководством Н.А. Фатеховой.</p>
						</div>
						
						<div class="post-thumbnail-wrap">
							<center><img src="{{url_for('static', filename='nailya_asgatevna.jpg')}}"></center>
						</div>
						
						<div class="entry-content">
						<h2>Источники</h2>
							<ol><li><a href="https://vk.com/alfiya_sharipova_official_group">Альфия Шарипова [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://vk.com/club5593848">Ансамбль "Народный праздник" [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://vk.com/tatardance">Ансамбль татарского танца "Ильдан" [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://vk.com/mirasansamble">Ансамбль татарской песни «Мирас» [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="http://buranovskiebabushki.ru/">Бурановские бабушки [Электронный ресурс] // Официальный сайт коллектива "Бурановские бабушки".</a></li>
							<li><a href="https://vk.com/zainetdin">Группа ZAINETDIN [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://www.mos.ru/kultura/">Департамент культуры города Москвы [Электронный ресурс] // Официальный портал mos.ru.</a></li>
							<li><a href="https://www.mos.ru/dtu/">Департамент торговли и услуг города Москвы [Электронный ресурс] // Официальный портал mos.ru.</a></li>
							<li><a href="https://www.mos.ru/depnpol/">Департамент национальной политики и межрегиональных связей города Москвы [Электронный ресурс] // Официальный портал mos.ru.</a></li>
							<li><a href="https://vk.com/depnpol">Депнац Москвы. Официальная страница Департамента национальной политики и межрегиональных связей г. Москвы [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://data.mos.ru/opendata/1345">Места проведения праздничных мероприятий, посвященных Масленице. Департамент торговли и услуг города Москвы [Электронный ресурс] // Портал открытых данных г. Москвы.</a></li>
							<li><a href="https://moscowseasons.com/festival/maslenitsa-2020/">Московская Масленица [Электронный ресурс] // Официальный сайт проекта "Московские сезоны".</a></li>
							<li><a href="https://moskazhor.ru/">Московский казачий хор [Электронный ресурс] // Официальный сайт Московского казачьего хора.</a></li>
							<li><a href="www.youtube.com/watch?v=ylRq5-ABtHg">Московский Сабантуй-2020. Прямая трансляция [Электронный ресурс] // Канал Мир 24 на платформе YouTube (сайт нарушает закон РФ).</a></li>
							<li><a href="https://fair.mos.ru/">Официальный сайт ГБУ «Московские Ярмарки» [Электронный ресурс].</a></li>
							<li><a href="https://www.shuraleband.ru/">Официальный сайт группы "Шурале" [Электронный ресурс].</a></li>
							<li><a href="https://moscowseasons.com/">Официальный сайт проекта "Московские сезоны" [Электронный ресурс].</a></li>
							<li><a href="https://vk.com/sabantuy_moscow">Официальная страница Московского Сабантуя [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://vk.com/pokrovclub">19.	Покров-этно [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://data.mos.ru/">Портал открытых данных г. Москвы [Электронный ресурс].</a></li>
							<li><a href="vk.com/doc4615996_510122595?hash=71a39562b8d1e8ca10&dl=08bcc77e84885cfb8f">Программа Московского Сабантуя-2019 [Электронный ресурс] // Официальная страница "Московского Сабантуя" в социальной сети ВКонтакте.</a></li>
							<li><a href="https://moscowseasons.com/event/archive/stsenicheskaia-programma-na-festivale-moskovskaia-maslenitsa/">Расписание сценической программы на фестивале «Московская Масленица» в 2019 году [Электронный ресурс].</a></li>
							<li><a href="https://www.mos.ru/upload/photobank/common/upload/authority.pdf">Структура городской власти в Москве [Электронный ресурс] // Официальный портал mos.ru.</a></li>
							<li><a href="https://vk.com/aidar.galimov">Айдар Галимов - Народный артист РБ и РТ [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://vk.com/urazova_official">Гузель Уразова [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							<li><a href="https://vk.com/ilsiya_badretdinova">Илсөя Бәдретдинова - Официаль төркеме [Электронный ресурс] // Социальная сеть ВКонтакте.</a></li>
							</ol>
					</div>
					<div class="entry-content">
						<h2>Исследования</h2>
							<ol>
							<li>Агапова В. Н. Механизмы сохранения традиционных культурных ценностей современной русскоязычной диаспорой Лондона. / Диссертация на соискание ученой степени кандидата культурологии. – М., 2018. – 155 c.</li>
							<li>Дулат-Алеев В.Р. Структура национальной песенной традиции в эпоху массовых коммуникаций (на примере татарской музыки) // Искусство и художественное образование в контексте межкультурного взаимодействия [69] Материалы V Международной научно-практической конференции (Казань, 16 ноября 2016 г.), 16.11.2016-16.11.2016. – 2016</li>
							<li>Татарская музыкальная литература : учебник для музыкальных училищ и детских музыкальных школ / Р. В. Дулат-Алеев ; М-во культуры Респ. Татарстан, Казанская гос. консерватория (акад.) им. Н. Г. Жиганова. - Казань : Казанская гос. консерватория, 2007.</li>
							<li>Калуцков Владимир Николаевич. Культурная география России. Часть 1. Теоретический и специальный разделы. М.: Факультет иностранных языков и регионоведения МГУ, 2016.</li>
							<li>Каминская Елена Альбертовна. Традиционный фольклор: культурные смыслы, современное состояние и проблемы актуализации: диссертация ... доктора : 24.00.01 / Каминская Елена Альбертовна;[Место защиты: ФГБОУ ВО Челябинский государственный институт культуры], 2017.- 365 с.</li>
							<li>Нигмедзянов М. Татарские народные песни.— Казань: Татарское книжное изд-во, 1984.— 240 с.</li>
							<li>Пропп, Владимир Яковлевич. Русские аграрные праздники / В. Я. Пропп; [Вступ. ст. С. Б. Адоньевой]. - Санкт-Петербург: Азбука: Изд. центр "Терра", 1995. - 174 с.</li>
							<li>Садекова, Айслу Хусяиновна. Идеология ислама и татарское народное творчество: дис. доктор филологических наук: 10.01.09 - Фольклористика. Казань. 2001. 320 с.</li>
							<li>Сайдашева, Земфира Нурмухаметовна. Песенная культура татар Волго-Камья : Эволюция жанрово-стилевых норм в контексте национальной истории : автореферат дис. ... доктора искусствоведения : 17.00.02 / Моск. консерватория. - Москва, 1998. - 44 с.</li>
							<li><a href="https://cyberleninka.ru/article/n/formy-aktualizatsii-traditsionnoy-narodnoy-kultury-v-sovremennyh-etnokulturnyh-proektah">Санникова Татьяна Марковна Формы актуализации традиционной народной культуры в современных этнокультурных проектах [Электронный ресурс] // Сборник научных статей «Всероссийский конгресс фольклористов». 2019. №4.</a></li>
							<li>Тюгаева Елизавета Владимировна. Методика применения фольклора в целях развития эмоционального интеллекта у взрослых людей. Аттестационная работа по курсу проф. переподготовки Новосибирского государственного педагогического университета по специальности "Музыкальный фольклор и этнография": Новосибирск, 2018.</li>
							<li><a href="https://cyberleninka.ru/article/n/obschefederalnyy-sabantuy-vchera-segodnya-i-zavtra">Фарит Уразаев Общефедеральный Сабантуй: вчера, сегодня и завтра // Гасырлар авазы - Эхо веков. 2011. №1-2.</a></li>
							<li>Фольклорное движение в современном мире: Сборник статей. - М.: Государственный республиканский центр русского фольклора, 2016. - 232 с.</li>
							<li>Юнусова Г. Ф. Электронный каталог фоноархива // Гасырлар авазы ‒ Эхо веков. ‒ 2017. ‒ № 3/4. ‒ С. 312-319.</li>
							<li>Нигъмәтҗанов М.Н. Татар халык җырлары / М. Нигъмәтҗанов .— Казан : Татарстан китап нәшрияты, 1976 .— 216 б. — Татар телендә.</li>
							<li>Урманче Ф. И. Татар халык иҗаты / Фатих Урманче.— Казан: Мәгариф, 2005.— 383 б. — Татар телендә.</li>
							</ol>
					</div>

					<p></p>
					<div class="post-thumbnail-wrap">
					<center><img src="{{url_for('static', filename='literature.png')}}"></center>
					</div>
					<p></p>

					<div class="entry-content">
						<h2>Справочная литература</h2>
							<ol>
							<li><a href="http://www.gks.ru/free_doc/new_site/perepis2010/croc/perepis_itogi1612.htm">Итоги Всероссийской переписи населения-2010 [Электронный ресурс] // Сайт Федеральной службы государственной статистики.</a></li>
							<li><a href="https://tatarica.org/ru/razdely/rossijskaya-federaciya/moskovskaya-oblast/moskva">Места компактного проживания татар: Москва [Электронный ресурс] // Татарская энциклопедия TATARICA.</a></li>
							<li><a href="https://dic.academic.ru/dic.nsf/dic_new_philosophy/58/АКТУАЛИЗАЦИЯ">Новейший философский словарь. Статья «Актуализация» [Электронный ресурс] // Интернет-энциклопедия «Академик».</a></li>
							<li><a href="https://strelkamag.com/ru/news/vocabulary-representation">СЛОВАРНЫЙ ЗАПАС: РЕПРЕЗЕНТАЦИЯ [Электронный ресурс] // Strelka Mag — издание Института «Стрелка».</a></li>
							<li><a href="https://studref.com/545035/kulturologiya/prostranstvo_kulturnoe">Статья «Культурное пространство» [Электронный ресурс] // Студенческие реферативные статьи и материалы.</a></li>
							<li><a href="https://helpiks.org/2-7791.html">Статья «Культурное пространство» [Электронный ресурс] // Интернет-помощник Хелпикс.Орг.</a></li>
							<li><a href="https://ru.wiktionary.org/wiki/содержание">Статья «Содержание» [Электронный ресурс] // Викисловарь.</a></li>
							<li><a href="https://gufo.me/dict/ozhegov/метод">Толковый словарь Ожегова. Статья «Метод» [Электронный ресурс] // Интернет-энциклопедия Gufo.me.</a></li>
							<li><a href="https://gufo.me/dict/ozhegov/содержание">Толковый словарь Ожегова. Статья «Содержание» [Электронный ресурс] // Интернет-энциклопедия Gufo.me.</a></li>
							<li><a href="https://dic.academic.ru/dic.nsf/ogegova/258622">Толковый словарь Ожегова. Статья «Форма» [Электронный ресурс] // Интернет-энциклопедия «Академик».</a></li>
							<li><a href="https://tatobzor.ru/izvestnye-tatary/fatehova-nailya-asgatevna.html">Фатехова Наиля Асгатьевна. Известные татары [Электронный ресурс] // Татобзор - татарская культура, искусство, традиции.</a></li>
							<li><a href="https://tt.wikipedia.org/wiki/%D0%9A%D1%8B%D1%81%D0%BA%D0%B0_%D0%BA%D3%A9%D0%B9">Кыска көй [Электронный ресурс] // Википедия, ирекле энциклопедия, татар версиясе.</a></li>
							<li><a href="https://tt.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B8%D0%BB%D3%99_%D0%A4%D0%B0%D1%82%D0%B5%D1%85%D0%BE%D0%B2%D0%B0">Наилә Фатехова [Электронный ресурс] // Википедия, ирекле энциклопедия, татар версиясе.</a></li>
							<li><a href="https://tt.wikipedia.org/wiki/%D0%9E%D0%B7%D1%8B%D0%BD_%D0%BA%D3%A9%D0%B9">Озын көй [Электронный ресурс] // Википедия, ирекле энциклопедия, татар версиясе.</a></li>
							</ol>
					</div>

					<div class="entry-content">
						<h2>Публицистика</h2>
							<ol>
							<li><a href="https://www.business-gazeta.ru/article/430664">250 тысяч людей, Мухаметшин против горшка, деревня от Магдеева и воспоминания о банкете [Электронный ресурс] // Издание "Бизнес Online".</a></li>
							<li><a href="https://nsknews.info/materials/audialnyy-performans-koromysli-kak-izbavitsya-ot-klyukvy-v-golove/">Аудиальный перформанс «Коромысли»: как избавиться от клюквы в голове/ Автор статьи Ольга Маховская [Электронный ресурс] // Портал "НОВОСИБИРСКИЕ НОВОСТИ".</a></li>
							<li><a href="https://www.mos.ru/news/item/87685073/?utm_source=search&utm_term=serp">Барочная музыка, занятия по самбо и плетение фенечек: развлечения в эти выходные // Официальный портал Мэра и Правительства Москвы [Электронный ресурс].</a></li>
							<li><a href="https://inde.io/article/5707-bez-barana-sabantuy-ne-sdelat-iz-chego-sostoit-glavnyy-folklornyy-prazdnik-tatar">«Без барана Сабантуй не сделать». Из чего состоит главный фольклорный праздник татар [Электронный ресурс] // Интернет-журнал о жизни в городах республики Татарстан "Инде".</a></li>
							<li><a href="https://tnv.ru/news/archive/22233-v-moskve-v-muzee-zapovednike-kolomenskoe-proshel-sabantuy-2019/">В Москве в музее-заповеднике «Коломенское» прошел «Сабантуй-2019» [Электронный ресурс] // ТНВ - телеканал "Новый век".</a></li>
							<li><a href="https://moscowseasons.com/news/v-muzee-zapovednike-kolomenskoe-sostoialsia-mezhdunarodnyi-festival-sabantui-2019/">В музее-заповеднике «Коломенское» состоялся международный фестиваль «Сабантуй 2019» [Электронный ресурс] // Сайт проекта "Московские сезоны".</a></li>
							<li><a href="https://www.business-gazeta.ru/article/473788">«Дай бог, чтобы такой формат не прижился»: Казань и Москва сразились на онлайн-Сабантуе [Электронный ресурс] // Издание "Бизнес Online".</a></li>
							<li><a href="https://sntat.ru/news/dvuhmetrovyy-baursak-elvin-grey-i-250-tysyach-uchastnikov-kak-tatary-moskvy-sozdali-samyy-masshtabnyy-rossiyskiy-sabantuy-5648975">Двухметровый баурсак, Элвин Грей и 250 тысяч участников: как татары Москвы создали самый масштабный российский Сабантуй [Электронный ресурс] // Казанское сетевое издание «Снег».</a></li>
							<li><a href="https://concours.nazaccent.ru/2016/text/2125/">История московского Сабантуя. РНТКА г. Москвы [Электронный ресурс] // Журнал Гильдии межэтнической журналистики "Национальный акцент".</a></li>
							<li><a href="https://www.culture.ru/s/vopros/istoriya-maslenicy/">КАКАЯ ИСТОРИЯ У ПРАЗДНИКА МАСЛЕНИЦА? Отвечает Екатерина Гудкова, филолог [Электронный ресурс] // Портал Культура.РФ.</a></li>
							<li><a href="https://www.kp.ru/afisha/msk/prazdniki/konczert-maslyanaya-schastlivaya-v-moskonczerte/">Концерт «Масляная счастливая!» в Москонцерте // Афиша КП Москва [Электронный ресурс].</a></li>
							<li><a href="http://www.press-release.ru/branches/culture/kulturnyy_tsentr_integratsiya_na_lazo_priglashaet_na_shirokuyu_maslenitsu_09_03_2021_16_49/">Культурный центр «Интеграция» на Лазо приглашает на «Широкую Масленицу» // Служба распространения пресс-релизов Press-Release.ru [Электронный ресурс].</a></li>
							<li><a href="https://kudago.com/msk/event/kontsert-maslenitsa-v-dome-gogolya/">Масленица в доме Гоголя // Сетевое издание KUDAGO (КУДАГО) [Электронный ресурс].</a></li>
							<li><a href="https://foma.ru/maslenicza-smyisl-i-istoriya-tradiczii-i-obryadyi.html">Масленица: смысл, история и традиции [Электронный ресурс] // Православный журнал "Фома".</a></li>
							<li><a href="https://msk1.ru/text/gorod/2022/02/25/70471886/">Масленичные гуляния на ВДНХ отменены [Электронный ресурс] // Московская Правда URL.</a></li>
							<li><a href="https://vm.ru/news/812658-moskovskij-sabantuj-sobral-gostej-so-vsego-mira">«Московский Сабантуй» собрал гостей со всего мира [Электронный ресурс] // Вечерняя Москва.</a></li>
							<li><a href="https://www.mos.ru/news/item/76268073/">«Московский Сабантуй-2020» состоится при любых обстоятельствах [Электронный ресурс] // Официальный портал mos.ru.</a></li>
							<li><a href="https://www.mos.ru/news/item/58386073/">Новые рекорды, «Улица добрых соседей», конное дефиле: как прошел Московский Сабантуй [Электронный ресурс] // Портал mos.ru.</a></li>
							<li><a href="https://avtonomiya.tatar/%D0%BE-%D1%81%D0%B0%D0%B1%D0%B0%D0%BD%D1%82%D1%83%D0%B5-2021-%D0%B2-%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B5/">О Сабантуе-2021 в Москве [Электронный ресурс] // Официальный сайт РОО Татарской национально-культурной автономии г. Москвы.</a></li>
							<li><a href="https://msk1.ru/text/gorod/2022/02/25/70471886/">Руководство ВДНХ отменило празднование Масленицы по «этическим соображениям» [Электронный ресурс] // Портал "Москва онлайн".</a></li>
							<li><a href="vk.com/wall-73436359_2897">Сабантуй 2018 признан самым лучшим однодневным фестивалем [Электронный ресурс] // Официальная страница Автономии татар Москвы в социальной сети ВКонтакте.</a></li>
							<li><a href="https://shubino-video.ru/2019/07/07/sabantuj-2019-v-moskve-muzej-zapovednik-kolomenskoe-06-07-2019/">Сабантуй-2019 в Москве (музей-заповедник «Коломенское») [Электронный ресурс] // Татарский портал "Шубино-видео".</a></li>
							<li><a href="https://www.mos.ru/news/item/87639073/?utm_source=search&utm_term=serp">Угоститься блинами и смастерить масленичное чучело: как проводить зиму в библиотеках // Официальный портал Мэра и Правительства Москвы [Электронный ресурс].</a></li>
							<li><a href="https://moslenta.ru/city/ushlo-vremya-kogda-tatarskaya-rech-zdes-zvuchala-na-ulicakh.htm">«Ушло время, когда татарская речь здесь звучала на улицах» [Электронный ресурс] // Портал "Мослента".</a></li>
							<li><a href="https://msk1.ru/text/gorod/2022/02/25/70471886/">Фестиваль «Масленица» отменили по всей Москве [Электронный ресурс] // Городской портал Зеленоград24.</a></li>
							<li><a href="https://www.mos.ru/news/item/87510073/?utm_source=search&utm_term=serp">Широкая Масленица: парки подготовили праздничную онлайн-программу // Официальный портал Мэра и Правительства Москвы [Электронный ресурс].</a></li>
							<li><a href="https://inde.io/article/16173-etnograficheskiy-interes-pochemu-tatary-lyubyat-garmon-igrayut-na-skripke-i-poyut-grustnye-pesni">Этнографический интерес. Почему татары любят гармонь, играют на скрипке и поют грустные песни // Инде. Интернет-журнал о жизни в городах Республики Татарстан.</a></li>
							<li><a href="http://100tatar.ru/liliasarvarova">Этномузыколог Лилия Сарварова — о татарской песенной традиции и «капроновом фольклоре» [Электронный ресурс] // Сайт проекта «100 татарских песен XX века».</a></li>
							<li><a href="https://matbugat.ru/news/?id=4537&">Мөнәҗәт дигән дәва. Фердинанд Сәлахов, Татарстанның халык артисты [Электронный ресурс] // Матбугат.Ру.</a></li>
							</ol>
					</div>
						
				</article>
			</div>
		</section>
		
		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="zerogrid">
				<div class="wrap-footer">
					<center><div class="row">
						<div class="bottom-social">
						<a name="footer"></a>

						<link rel="stylesheet" href="{{url_for('send_css', path='font-awesome.css')}}">
						<link rel="stylesheet" href="{{url_for('send_css', path='font-awesome.min.css')}}">
						
						<a href="https://vk.com/bigchinaboss"><i class="fa fa-vk"></i></a>
						<a href="https://t.me/Littleweirdo410"><i class="fa fa-telegram"></i></a>
					</div>
					<div class="copyright">
						© Гусева Милена Андреевна, 2022.
					</div>
					<div class="copyright">
						Фотографии из открытых интернет-источников.
					</div>
				</center>
					</div>
				</div>
				<div class="bottom-footer">
					
				</div>
			</div>
		</footer>
		
	</div>
	
	
</body>
</html>