<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Русская и татарская музыкальная фольклорная традиция в современной Москве: актуализация и репрезентация</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{{url_for('static', filename='zerogrid.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	
	<link rel="stylesheet" href="{{url_for('static', filename='font-awesome.min.css')}}">
	
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
   <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">

   <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">

	<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='script.js')}}"></script>
	
</head>

<body class="home-page">
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<div class="row">
					<div class="col-1-3">
						<a class="site-branding" href="{{url_for('hi_page')}}">
							<h1 id="site-header">Русская и татарская музыкальная фольклорная традиция в современной Москве: актуализация и репрезентация</h1>	
						</a><!-- .site-branding -->
					</div>
					<div class="col-2-3">
						<!-- Menu-main -->
						<div id='cssmenu' class="align-right">
							<ul>
							   <li class="active"><a href="{{url_for('hi_page')}}"><span>Главная</span></a></li>
							   <li><a href="{{url_for('about')}}"><span>О работе</span></a></li>
							   <li class='last'><a href='#footer'><span>Контакты</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container" class="zerogrid">
			<div class="wrap-container">
				
				<article class="single-post">
					<div class="row wrap-post"><!--Start Box-->
						<div class="entry-header">
							<h1 class="entry-title">Русская и татарская музыкальная фольклорная традиция в современной Москве: актуализация и репрезентация</h1>
						</div>
						<div class="entry-content">
							<h2>Актуальность</h2>
							<p>Культурная жизнь региона – один из основных компонентов его неповторимого, уникального образа. Составной частью культуры является музыка, и в музыке, как и в любой другой области искусства, новые, ещё не освоенные феномены и направления со временем вытесняют старые и привычные жанры. Некоторые из вытесняемых явлений безвозвратно уходят в прошлое, а некоторые успешно встраиваются в современное культурное пространство, трансформируясь и адаптируясь согласно контексту эпохи. Одним из таких долгоживущих явлений в музыкальной культуре России и, в частности, её столицы, г. Москвы, является фольклор, уходящий корнями в самые давние периоды истории, но не утративший своей актуальности и ценности до сих пор.</p>
							<ol>
								<li>Фольклор – это не только благодатный материал для регионоведческих исследований, но и отражение ментальности народа, особенностей народных практик взаимодействия людей друг с другом и с внешним миром и даже средство решения психологических проблем.</li>
								<li>Согласно данным Всероссийской переписи населения 2010 года, татары – третья по численности национальность в Москве после русских и украинцев (почти 150 тыс. чел.). Татары являются жителями Московского региона исторически с XIX века, когда началась первая волна переселения в Москву купеческих татарских семей из Касимова Рязанской губернии.</li>
								<li>В эпоху глобализации необходимо, чтобы в Москве как исторически полиэтничном городе и столице многонационального государства были так или иначе представлены все культурные традиции.</li>
							</ol>
							<h2>Цель</h2>
							<p>Выявить наиболее востребованные и действенные формы и методы актуализации русского и татарского фольклора в культурном пространстве современной Москвы и определить основные направления поддержания баланса в репрезентации культур народов, проживающих на территории полиэтничного Московского региона.</p>
							<h2>Задачи</h2>
							<ol><li>выявить основные формы, методы и содержательные аспекты актуализации русской и татарской народной музыки в культуре Москвы</li>
							<li>определить, какие формы, методы и содержательные аспекты актуализации русской и татарской народной музыки в культуре Москвы вызывают наибольший отклик у жителей Москвы</li>
							<li>охарактеризовать вероятные перспективы актуализации и репрезентации русского и татарского фольклора в культурном пространстве современной Москвы и возможности сотрудничества государства и общества в данном направлении</li>
							</ol>
							<h2>Терминология</h2>
							<p>Ввиду отсутствия общепринятых терминов в сфере нашего исследования все перечисленные ниже определения составлены автором статьи самостоятельно на основе словарных статей «Репрезентация», «Актуализация», «Форма», «Метод», «Содержание», «Культурное пространство».</p>
							<ol><li><b>Актуализация</b> фольклорной музыкальной традиции – это адаптация фольклорной музыки к условиям современной культуры, осуществление действий, направленных на то, чтобы сделать народную музыкальную традицию актуальной, то есть важной и востребованной в настоящее время.</li>
							<li><b>Репрезентация</b> фольклорной музыкальной традиции – представление обширного музыкального наследия народной культуры посредством творческого переосмысления в контексте современной эпохи: исполнений и обработок, театральных постановок, тематических мероприятий и т.д.</li>
							<li><b>Формы</b> актуализации фольклорной музыкальной традиции – это способы осуществления действий по адаптации музыкального фольклора к условиям современной культуры, внешние проявления фольклорной музыки, способы существования фольклора в современной жизни (к примеру, музыкальный спектакль, фестиваль, концерт, городской праздник, мастер-класс и т.д.).</li>
							<li><b>Методы</b> актуализации фольклорной музыкальной традиции – это система приёмов практической реализации идеи адаптации музыкальной фольклорной традиции к условиям современной культуры, образ тех или иных действий, направленных на решение задачи актуализации фольклорного наследия. Существует множество различных методов, однако мы решили рассмотреть те из них, которые связаны с ролью государства и общества в организации мероприятий. Так, в нашем случае методом будет являться преимущественно государственная или же преимущественно общественная инициатива в деле актуализации музыкального фольклора.</li>
							<li><b>Содержание</b> мероприятия, актуализирующего народную культуру – совокупность жанровых, культурных, исполнительских и иных особенностей, из которых складывается общее впечатление от мероприятия и которые составляют его непосредственную сущность. На наш взгляд, все разнообразные оттенки содержания можно условно отнести к одной из трех групп: синтез фольклора с различными культурными традициями (далее «синтез культурных традиций»), синтез фольклора с разными жанрами (далее «синтез жанров») и стремление к аутентичной подаче фольклорного материала (далее «аутентичность»). 
							</li>
							<li><b>Культурное пространство</b> – это совокупность разнообразных явлений культуры и существующих культурных форм в определенном историческом периоде и месте на карте.</li></ol>
						</div>
				</article>
			</div>
		</section>
		
		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="zerogrid">
				<div class="wrap-footer">
					<center><div class="row">
						<div class="bottom-social">
						<a name="footer"></a>

						<link rel="stylesheet" href="{{url_for('send_css', path='font-awesome.css')}}">
						<link rel="stylesheet" href="{{url_for('send_css', path='font-awesome.min.css')}}">

						<a href="https://vk.com/bigchinaboss"><i class="fa fa-vk"></i></a>
						<a href="https://t.me/Littleweirdo410"><i class="fa fa-telegram"></i></a>
					</div>
					<div class="copyright">
						© Гусева Милена Андреевна, 2022.
					</div>
					<div class="copyright">
						Фотографии из открытых интернет-источников.
					</div>
				</center>
					</div>
				</div>
				<div class="bottom-footer">
					
				</div>
			</div>
		</footer>
		
	</div>
	
	
</body>
</html>