{% extends 'admin/master.html' %}
{% block body %}

<div>
  {{ super() }}
            <center><div>
              <h1>Добро пожаловать в административную панель сайта «Русская и татарская музыкальная фольклорная традиция в современной Москве»!</h1>
              <p>______________________________________</p></center>
              <style type="text/css"> h3 {text-align: justify;}</style><h3>Здесь Вы сможете создавать, редактировать и удалять записи об исследуемых в рамках дипломной работы мероприятиях.</h3>
        </div>

{% endblock %}